/* section page hero */
.page-hero{
    height: calc(100vh - 80px);
    position: relative;
    z-index: 2;
}
.background-skew {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(12deg);
    transform: skewY(175deg);
    -webkit-transform-origin: 100%;
    transform-origin: bottom left;
    background: var(--theme-yellow);
    top: 0;
    z-index: -1;
}
.page-hero__wrapper {
    display: flex;
}
.page-hero__left {
    width: 50%;
}
.page-hero__left img{
    width: 65%;
}
.page-hero__right h1{
    margin-bottom: 5rem;
    font-size: 4rem;
}
.page-hero__right {
    width: 50%;
}
.form form{
    display: flex;
    max-width: 70%;
}

.form form input{
    padding: 1rem;
    border: 0;
    width: 100%;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-style: italic;
}
.form form button{
    background: var(--primary);
    text-transform: uppercase;
    font-family: var(--font-secondary);
    padding: 1rem 2rem;
    margin-left: 0.4rem;
}
.bottom-triangle {
    position: absolute;
    bottom: -1px;
    display: flex;
    width: 100%;
    z-index: 1;
}

@media(max-width:1400px){
    .page-hero__right h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        
    }
}



@media(max-width:850px){
    .page-hero {
        height: calc(65vh - 80px);
    }
    .background-skew {
        transform: skewY(165deg);
       
    }
}

@media(max-width:768px){
    .page-hero {
        height: calc(70vh - 80px);
    }
}

@media (max-width:560px){
    .page-hero__wrapper {
        flex-direction: column-reverse;
    }
    .page-hero__left {
        width: 100%;
    }
    .page-hero__right {
        width: 100%;
    }
    .page-hero {
        height: calc(100vh - 80px);
    }
    .form form {
        margin: auto;
    }
    .page-hero__right {
        text-align: center;
    }
}
@media (max-width:420px){
    .page-hero {
        height: calc(75vh - 80px);
    }
    .form form {
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width:360px){
    .page-hero {
        height: calc(100vh - 80px);
    }
    .background-skew {
        
        top: -1px;
        
    }
    .page-hero__right h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        
        
    }
   
}
/* End section page hero */

/* youtube info */
.yt-info {
    margin-top: -10rem;
    position: relative;
    z-index: 9;
    background: transparent;
}
.yt-info__wrapper {
    display: flex;
    padding: 5rem;
    background: var(--secondary);
    gap: 2rem;
    box-shadow: 0px 0px 40px 0px var(--box-shadow-color);
}
.yt-info_left {
    width: 50%;
    
}
.yt-info_right {
    width: 50%;
    padding: 1rem;
    box-shadow: 0px 0px 40px 0px var(--box-shadow-color);
}
.yt-info_right__img img{
    width: 100%;
}

@media (max-width:1024px){
    .yt-info {
        margin-top: -5rem;
    }
    .yt-info__wrapper {
        flex-direction: column;
    }
    .yt-info_left {
        width: 100%;
    }
    .yt-info_right {
        width: 100%;
    }
}
@media (max-width:560px){
    .yt-info {
        margin-top: -3rem;
    }
}
@media (max-width:420px){
    .yt-info__wrapper {
     
        padding: 2rem;
        
    }
}
@media (max-width:360px){
    .yt-info {
        margin-top: -4rem;
    }
}
/* End youtube info */

/* tech logo garden */
.logo-garden-bg{
    background-image: url('/wp-content/uploads/2022/04/logo-carousel.png');
    width: 4000px;
    height: 275px;
    animation: logo-garden-slide 60s linear infinite;
}
.tech-logo-garden{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.tech-logo-garden:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,#fff 100%);
}
.logo-garden-bg:hover {
    animation-play-state: paused
}

@keyframes logo-garden-slide {
    0%{
        transform: translateX(0)
    }

    100%{
        transform: translateX(-2398px)
    }
}

/* End  tech logo garden */




/* latest blog */
.lt-blog-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0px 0px 40px 0px var(--box-shadow-color);
    border-radius: 4px;

}
.lt-blog-right__content {
    padding: 3rem;
    position: relative;
    z-index: 5;
}
.lt-blog__thumbnial a img{
    width: 120%;
    border-radius: 4px;
    display: flex;
    height: 100%;

}
.lt-blog__thumbnial {
    position: relative;
}
.lt-blog__thumbnial:before {
    pointer-events: none;
    content: "";
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    position: absolute;
    mix-blend-mode: screen;
    opacity: .75;
    width: 120%;
    min-height: 500px;
    height: 100%;
    z-index: 2;
}

.lt-blog__thumbnial:after{
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 3;
    left: 75%;
    height: 100%;
    top: 0;
    width: 50%;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.013) 8.1%,hsla(0,0%,100%,.049) 15.5%,hsla(0,0%,100%,.104) 22.5%,hsla(0,0%,100%,.175) 29%,hsla(0,0%,100%,.259) 35.3%,hsla(0,0%,100%,.352) 41.2%,hsla(0,0%,100%,.45) 47.1%,hsla(0,0%,100%,.55) 52.9%,hsla(0,0%,100%,.648) 58.8%,hsla(0,0%,100%,.741) 64.7%,hsla(0,0%,100%,.825) 71%,hsla(0,0%,100%,.896) 77.5%,hsla(0,0%,100%,.951) 84.5%,hsla(0,0%,100%,.987) 91.9%,#fff);
}
.author-info {
    display: flex;
    align-items: center;
    
}
.author-profile {
    margin-right: 1.5rem;
}
.author-profile img{
    width: 100%;
    border-radius: 50%;
}

.auther-name p span{
    font-weight: bold;
}

.publication-date {
    margin-left: 1.2rem;
}
.publication-meta {
    padding: 1rem 0;
    text-transform: uppercase;
    color: var(--theme-yellow);
    font-weight: bold;
}
.publication-meta a{
margin-right: 1rem;

}
.publication-meta a:hover{
    text-decoration: underline;
}

@media(max-width:1024px){
    .lt-blog-wrapper {
        grid-template-columns: 100%;
        
    }
    .lt-blog__thumbnial a img {
        width: 100%;
    }
}
/* End latest blog */


/* fearured blog */

.dt-card-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.dt-card {
    width: calc(33% - 2rem );
    box-shadow: 0px 0px 40px 0px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
}

.dt-card a {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.dt-card__header {
    position: relative;
    display: flex;

}
.dt-card__header img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 300px;
}
.dt-card__footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.dt-card-right__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
}
.dt-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.dt-bottom__meta {
    flex: 1;
    display: flex;
    align-items: flex-end;
}
dt-bottom__meta .author-profile {
    margin-right: 1rem;
}
.dt-card__footer .author-profile {
    margin-right: 1rem;
}

@media (max-width:1400px){
    .dt-card {
        width: calc(50% - 2rem );
    }

}
@media (max-width:1024px){
    .lt-blog__thumbnial:before {
        width: 100%;
    }
    .lt-blog__thumbnial:after {
       display: none;
    }
    
}
@media (max-width: 850px){
    .dt-card {
        width: 100%;
    }

}
   
/* End fearured blog */

/* featured youtube */

.featured-youtube .publication-date p .publication-date-label{
    font-weight: bold;
    text-transform: CAPITALIZE;
}

.play-btn {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000004f;
}
.play-btn img{
    width: 60px;
}
/* End featured youtube */