.custom-post .author-info {
    gap: 1.5rem;
}
.author {
    display: flex;
    align-items: center;
}
.wp-post-author-shortcode {
    border: none;
    padding: 1rem 0;
}
.wp-post-author {
    display: flex;
    
}
.awpa-img.awpa-author-block {
    width: auto;
}
.wp-post-author-meta.awpa-author-block {
    width: auto;
}
.awpa-img img, .awpa-img .photo {
  width: 100px;
  border-radius: 100%;
}
h4.awpa-display-name a{
    font-family: var(--font-primary-bold);
}
.wp-post-author-shortcode.left {
    margin-top: 2rem;
}


/* youtube single blog */

.single-youtube .article-header-content .article-thumbnail a.play-btn img {
    width: 100px;
    cursor: pointer;
    
}
.single-youtube .article-header-content .article-thumbnail {
   
    position: relative;
}
.youtube-iframe{
    display: none;
}
.article-thumbnail img.hide{
    display: none;
}
.youtube-iframe.show{
    display: block;
}
/* End youtube single blog */

/* comment style */
.comment-form label{
    display: block;
}
div#respond {
    padding: 2rem;
    background: #cccccc4d;
}
.comment-body{
   padding: 2rem;
   margin-bottom: 1rem;
   border-bottom: 1px solid #cccccc4d;
}
.comment-author.vcard {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
ul.children {
    margin-left: 3rem;
}
textarea#comment {
    width: 100%;
    border: 0;
    font-family: var(--font-primary);
}
.comment-form input[type='text'],.comment-form input[type='email']{
    width: 100%;
    border: 0;
    padding: 1rem;
    font-family: var(--font-primary);
}
.comment-form input#submit {
    padding: 1rem;
    background: var(--theme-yellow);
    border: 0;
    border-radius: 1.5rem;
    color: var(--secondary);
    cursor: pointer;
    font-family: var(--font-primary-medium);
    font-size: 1rem;
}
.comment-author.vcard img{
    border-radius: 100%;
}
p.comment-form-cookies-consent {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.reply {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--theme-yellow);
    color: var(--theme-yellow);
    font-family: var(--font-primary-light);
}