// Base
// Includes styles that hardly change and don't require compiling as often

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Laxend";
  font-weight: 300;
  src: url("../fonts/Lexend/Lexend-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Laxend-regular";
  font-weight: 400;
  src: url("../fonts/Lexend/Lexend-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Laxend-medium";
  font-weight: 500;
  src: url("../fonts/Lexend/Lexend-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Laxend-semibold";
  font-weight: 600;
  src: url("../fonts/Lexend/Lexend-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Laxend-bold";
  font-weight: 700;
  src: url("../fonts/Lexend/Lexend-Bold.ttf") format("ttf");
}

// font

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Laxend-regular";
}

li > ul,
li > ol {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 60px;
  line-height: 64px;
}

h2 {
  font-size: 48px;
  line-height: 52px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

// h4

h4 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-family: "Laxend-regular";
  font-size: 16px;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}
