/* section page hero */
.page-hero{
    background-color: var(--theme-yellow);
    height: calc(100vh - 80px);
}
.page-hero__wrapper {
    display: flex;
}
.page-hero__left {
    width: 50%;
}
.page-hero__left img{
    width: 65%;
}
.page-hero__right h1{
    margin-bottom: 5rem;
    font-size: 4rem;
}
.page-hero__right {
    width: 50%;
}
.form form{
    display: flex;
    max-width: 70%;
}

.form form input{
    padding: 1rem;
    border: 0;
    width: 100%;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-style: italic;
}
.form form button{
    background: var(--primary);
    text-transform: uppercase;
    font-family: var(--font-secondary);
    padding: 1rem 2rem;
    margin-left: 0.4rem;
}
/* End section page hero */